@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


:root{
  --color-coolBlack: #052F5F;
  --color-bdazzledBlue: #345995;
  --color-orangeWeb: #FFA400;
  --color-white:#FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: var(--color-bdazzledBlue);
  color: white;
  font-family: 'Barlow Condensed', sans-serif;

}

header {
  padding: 15px;
  width: 100%;
  border-bottom: 4px solid #333333;
  background: var(--color-coolBlack);
  /* opacity: .6; */
}

header div {
  text-align: center;

}

header div a {
  color: var(--color-orangeWeb);
  font-size: 32px;
  line-height: 40px;
  margin: 0 30px;
  text-decoration: none;
  /* opacity: .7; */
}

header div a:hover {
  color: var(--color-white);
  transition: 400ms;

}

#wrapper {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin: 5px ;
}

#wrapper img {
  border-radius: 40% 0;
  border: 5px solid var(--color-orangeWeb);
  margin: 20px auto;
  height: 350px;
}

#wrapper h1 {
  text-align: center;
  padding: 10px;
  font-size: 38px;
  line-height: 50px;
  font-weight: bold;
  opacity: .9;
  color: var(--color-orangeWeb);

}

#wrapper h2 {
  margin: 0 auto 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  max-width: 600px;
  opacity: .7;

}

#wrapper p {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  max-width: 600px;
  margin: auto;

}

#wrapper a {
  text-decoration: none;
  color: var(--color-orangeWeb);
}

#wrapper a:hover {
  color: white;
  text-decoration: underline var(--color-orangeWeb);
  transition: 400ms;
}

.footer {
bottom: 0;
width: 100%;
position: fixed;
background: var(--color-coolBlack);
border-top: 4px solid #333333;;
padding: 1vh;
/* opacity: .6; */
text-align: center;
}

section.footer a{
  text-decoration: none;
  color: var(--color-orangeWeb);
  padding: 20px;
  
}

section.footer a:hover {
  text-decoration: none;
  color: var(--color-white);
  transition: 400ms;
  
}


section.footer p{
  color: var(--color-orangeWeb);
  padding: 10px;
  
}

/* ===  CARDS === */

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--color-coolBlack);
  display: grid;
  cursor: pointer;
}

.cardImgContainer img {
  width: 100%;
}


.featured-wrapper.cardImgContainer {
  position: relative;
  
}

.cardContent, .cardInfo {
  padding: 24px;
}


.cardInfo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.cardPrice {
background-color: var(--color-coolBlack);
filter: brightness(80%);
padding: 5px 20px;
border-radius: 20px;
text-align: center;
}

/*  === MODAL === */

.modalOverlay {
  background-color:  rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* opacity: 0; */
  visibility: hidden;
}

.modal{
  background-color: white;
  width: 90%;
  height: 80%;
  margin: 5vh auto;
  position: relative;
}

.closeModal {
  color: var(--color-bdazzledBlue);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/*  === MODAL ACTIVE === */

.modalOverlay.active{
  /* opacity: 1; */
  visibility: visible;
}

/* === IFRAME === */

iframe {
  width: 100%;
  height: 90%;
  top: 6%;
  position: absolute;
}

/* === FEATURED === */

.featured {
  background-color: var(--color-orangeWeb);
  border-radius: 16px;
  padding: 2px 8px;
  right: 5px;
  top: -10px;
  height: 20px;
  width: 60px;
  color: var(--color-white);
  position: absolute;
  text-align: center;

}

/* === VIDEO PAGE === */

.video {
  margin: 0 auto;
  max-width: 800px;
  
}


.cardVideoContainer {
  padding-top: 50%;
  position: relative;

}

.cardVideoContainer iframe{
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;

}

.cardVideo{
  background-color: var(--color-coolBlack);
  display: grid;
}

