{% extends "layout.njk" %}

{% block head %}
<title>About - Kayo Renato</title>
{% endblock %}

{% block content %}
  
<div class="profile" id="wrapper">
  <img src="{{dbAbout.avatar}}" alt="Image of {{dbAbout.name}}">
  <h1>{{ dbAbout.name }}</h1>
  <h2>{{ dbAbout.purpose }}</h2>

  {% for item in dbAbout.qualification %}
  <p>{{item.formation}} - <a id="{{item.degree}}">{{item.institute}}</a> </p>
  {% endfor %}

</div>

    <div class="modalOverlay">
      <div class="modal">
        <a class="closeModal">
          <i class="fa fa-times-circle fa-2x"></i>
        </a>
        <div class="modalContent">
          <iframe src="" width="100%" height="95%"></iframe>
        </div>
      </div>
    </div>

<script src="/scriptAbout.js"></script>
{% endblock %}
