{% extends "layout.html" %}

{% block head %}
<title>About - Kayo Renato</title>
{% endblock %}

{% block content %}
  
<div class="profile" id="wrapper">
  <img src="https://avatars2.githubusercontent.com/u/39072902?s=460&v=4" alt="kayoImg">
  <h1> Kayo Renato</h1>
  <h2>Engineer, manager and developer full-stack, developing solutions to simplify people's daily lives.</h2>
  <p>Bachelor in Civil Engineering - <a href="https://www.ufpe.br/caa" target="_blank">UFPE</a> </p>
  <p>Master of Business Administration in Project Managemet - <a
      href="https://portal.fgv.br/en/education/graduate-mba" target="blank">FGV</a></p>
  <p>Master of Science in Production Engineering (Decision Making and Risk Analyis) - <a
      href="https://drive.google.com/open?id=1DNux7xrOkxQasVEbPEDP5QnXF9Q8j58u" target="_blank">UFPE</a></p>
  <p>Bachelor in Information Systems - <a href="http://www.upe.br/" target="_blank">UPE</a></p>

</div>

{% endblock %}
