{% extends "layout.njk" %}

{% block head %}
<title>Portfolio - Kayo Renato</title>
{% endblock %}


{% block content %}

<div class="profile" id="wrapper">
  <h1> Portfolio</h1>
</div>

  <section class="cards">

    {% for item in items %}
    <div class="card" id="{{item.id}}">
      <div class="cardImgContainer {{'featured-wrapper' if item.featured}}">
        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Image of {{item.title}}">
        {% if item.featured %}
          <div class="featured">Featured</div>
        {% endif%} 
      </div>
      <div class="cardContent">
        <p>{{item.title}}</p>
      </div>
      <div class="cardInfo">
        <p>{{item.duration}}</p>
        <p class="cardPrice">{{item.price}}</p>
      </div>
    </div>
    {% endfor %}

  </section>

    <script src="/script.js"></script>
    {% endblock %}